
*{
    margin:0;
    padding:0;
}


body{
    display: flex;
    background-image: url(background_index.jpg);
    /*background-position: center;*/
    background-repeat: no-repeat; 
    background-size: auto;
    /*z-index: -1;*/
    height: 100vh;
    width: 100vw;
    margin:0;
    padding:0;
    position: relative;
}

.logo{
    display: flex;
    justify-content: flex-start;
    top:80%;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
    #test {
        width: 100px;
        background-size: contain;
    }
}

.container{
    display: flex;
    /*z-index: 1;*/
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 500px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.199);
}

.button{
    width: 50%;
    margin: 40%;
    border-radius:12px 0 12px 0;
	background: #2c8021c4;
	border:none;
	color:#fff;
	font:bold 12px Verdana;
	padding:10px 0 10px 0;
}

.box{
    display: flex;
    justify-content: center;
    color:white;
    height: 100%;
    width: 90%;
    padding: 15%;
    background-color: rgba(255, 192, 203, 0);
}

.banner{
    background: url('banner.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 60%;

}
header{
display: flex!important;
height: 10%;
width:100%
}
nav{
    width: 40%;
}
ul{
    display: flex;
    justify-content: space-around;
    margin-top: 3%!important;

}
li{
    height: 80% !important;
    list-style: none;
}
a{
    text-decoration: none!important;
    color: #498d40!important;
    
}
a:hover{
    color:white!important;
}

.rulesElt{
    width: 10vw;
    height:20vh;
    position: absolute;
    left: 20%;
    top:20%;
    margin: auto;
    background:rgb(67, 67, 141);
    border-radius: 5%;
    border:solid white 1px;
    text-align: center;
    vertical-align: center;

    font-size: 2em;
}
.start_game{
   
    left:0;
    bottom: 0;
    height: 10%;
    width: 10%;
}
/*form sign up*/
